body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; /* Dodatkowy odstęp dla małych ekranów */
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    width: 100%; /* Dopasowanie do szerokości kontenera */
    max-width: 200px; /* Maksymalna szerokość na większych ekranach */
    height: auto; /* Zachowaj proporcje */
}

.login-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%; /* Dopasowanie na mniejszych ekranach */
    max-width: 360px; /* Szerokość na większych ekranach */
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1877f2;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-box button {
    padding: 10px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #165dba;
}

.forgot-link {
    margin-top: 10px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

.divider {
    margin: 20px 0;
    height: 1px;
    background-color: #ddd;
}

.create-account {
    background-color: #42b72a;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.create-account:hover {
    background-color: #36a420;
}

/* Media queries dla dużych ekranów */
@media (min-width: 768px) {
    .login-box {
        width: 400px; /* Większa szerokość dla ekranów powyżej 768px */
    }
}

/* Media queries dla mniejszych ekranów */
@media (max-width: 480px) {
    .logo img {
        max-width: 150px; /* Zmniejsz szerokość na bardzo małych ekranach */
    }
    .login-box h1 {
        font-size: 20px; /* Dostosuj wielkość tekstu */
    }
    .login-box input {
        font-size: 14px; /* Zmniejsz wielkość czcionki dla małych ekranów */
    }
    .login-box button, .create-account {
        font-size: 14px; /* Dostosuj przyciski */
    }
}
